body {
  margin: 0 0 0 0;
  min-height: 100vh;                /* allow scrolling */
  background-image: url('rho.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;     /* key property: background stays still */
}

.content {
  padding: 20px;
  padding-bottom: 80px;
}

#typingText {
  color: white;
  font-size: 4rem;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10vw 10vh 10vw;
  padding: 10vh 10vw;
  align-items:center;
}
#typingText::after {
  content: "|";
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.floating-bottom-bar {
  position: fixed;
  bottom: 1.5vh;
  left: 65px;
  height: 15vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 15vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: width 0.4s ease, border-radius 0.4s ease;
  backdrop-filter: blur(10px);                /* blur what's behind the element */
  -webkit-backdrop-filter: blur(10px);    
}
.floating-bottom-bar.expanded {
  width: 90vw;
}
.floating-bottom-bar.collapsed {
  left: 10px;
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.bar-links {
  display: flex;
  gap: 10vw;
  padding: 0 17vw;
  flex-grow: 1;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.floating-bottom-bar.collapsed .bar-links {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.arrow {
  flex-shrink: 0;
  width: 15vh;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.floating-bottom-bar.collapsed .arrow {
  transform: rotate(180deg);
  transform-origin: center center;
}
.projects {
    display: flex;
    justify-content: center;
}

.cards{
  font-size: x-large;
  border-radius: 20px;
  margin: 3%;
  height: 50vh;
  width: 20vw;
  padding: 30px;
  background-color: rgba(27, 27, 27, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}