body {
  margin: 0 0 0 0;
  min-height: 100vh;
  /* allow scrolling */
  background-image: url('rho.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* key property: background stays still */
}

.content {
  padding: 20px;
  padding-bottom: 80px;
}

#typingText {
  color: white;
  font-size: 4rem;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5vw 5vh 0;
  padding: 2vh 10vw 2vh 12vw;
  align-items: center;
}

#typingText::after {
  content: "_";
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.about {
  color: white;
  padding: 2vh 10vw 8vh 12vw;
  display: flex;
  font-size: xx-large;
  font-family: monospace;
}

.sections {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin: 8vh auto 15vh auto;
  padding: 2.5vh 4vw;
  width: fit-content;
  border-radius: 20px;
  font-size: xx-large;
  color: white;
  font-family: monospace;
  background-color: rgba(27, 27, 27, 0.62);
}
.sections p {
  margin: 0;
}
.sections a {
  text-decoration: none;
  color: white;
}


.heading {
  display: flex;
  padding: 1vh 5vw 0 5vw;
  font-size: 3rem;
  color: white;
  font-family: monospace;
  justify-content: center;
}

.projects {
  display: flex;
  justify-content: center;
  padding: 0 10vw 2vh 12vw;
}

.cards {
  font-size: x-large;
  border-radius: 20px;
  margin: 3%;
  height: 40vh;
  width: 20vw;
  padding: 30px;
  background-color: rgba(27, 27, 27, 0.62);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: monospace;
}

.skills {
  padding: 2vh 10vw 0vh 12vw;
  font-size: 2rem;
  color: white;
  font-family: monospace;
}

.skills .type {
  padding: 0vh 10vw 2vh 5vw;
  font-size: x-large;
  color: white;
  font-family: monospace;
}
.cont-back{
  background-color: rgba(27, 27, 27, 0.62);
  margin: 5vh 10vw 8vh 12vw;
  border-radius: 20px;
  padding: 15px 15px 15px 15px;
  width: auto;
  max-width: none;
}
.cont-cards {
  display: flex;
  gap: 8vw;
  padding: 0 0 1vh 0;
  margin: auto;
  font-size: large;
  font-family: monospace;
  justify-content: center;
}

.contact-item {
  display: flex;
  align-items: center; /* Vertically align icon + text */
  gap: 10px;           /* Space between icon and text */
  color: white;        /* Text color */
  text-decoration: none; /* Remove underline */
  transition: transform 0.2s, opacity 0.2s; /* Optional: add hover animation */
}

.contact-item:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.contact-icon {
  height: 40px;
  width: auto;
}


